*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scroll-website */

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(240, 114, 114);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b33e3e;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}